# A very basic test file with no dispatch, overrides or anything else.

version 1

hello (name) {{ Hello [[name]], how are you? }}

goodbye (name) {{
## This whole line should be gone.
  Goodbye [[name]], hope to see you again. ## Whereas this won't be.
}}

