condTest (basic) {{
[[basic?Yes();No()]]
}}

Yes () {{ Yes }}
No  () {{ No  }}

More (first, second) {{ [[first;second?First();Second();None()]] }}

First  () {{ The first one.  }}
Second () {{ The second one. }}
None   () {{ None of them.   }}

NoDef (okay) {{
Q. Is it okay?
[[okay?Yes()]]
}}

Negated (okay) {{
[[!okay?Yes();No()]]
}}

