## Test attribute method calls.

testMethods (object, name) {{
So, [[name]] in uppercase is [[object.upper(name)]]
}}

## If you are using method calls, you cannot put attributes in the
## parameters without using aliases, due to parsing bugs.
Default (object, params) {{
[[::name=params.name]]
[[::title=params.title]]
The output is: [[object.this(name,first=title)]]
}}

Repeat (array) {{ [[array:repeatItem(*item)]] }}

repeatItem (item) {{
[[?repeatItem.lt(3);repeatItem.gt(5):littleNumber();hugeNumber();bigNumber();]] [[item]]
}}

littleNumber () {{ - }}
bigNumber    () {{ + }}
hugeNumber   () {{ * }}

